.container {
    margin: 0 auto;
    width: 1200px;
}
.title,.todo-form{
    text-align: center;
}

.todo-form input {
    width: 500px;
    height: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid red;
    margin: 0 20px;
}

.todo-form button {
    font-size: 18px;
    padding: 3px 20px;
    cursor: pointer;
}

.todo-item{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 50px;
}

.todo-item span {
    width: 70%;
    justify-content: flex-start;
}
.change{
    width: 800%;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}
.btn{
    cursor: pointer;
    padding: 3px 20px;
    font-size: 18px;
}
.text {
    color: orange;
    font-size: bold;
    text-decoration: line-through;
}